## Settings file was created by plugin Ganimedes v1.9.0
## Plugin GUID: Boniato.Ganimedes

[General]

## Price to go to Ganimedes
# Setting type: Int32
# Default value: 1200
RouteCost = 1200

[Mp3.BoomboxVanilla]

## Enable it to add the vanilla boombox music to the Mp3 player (automatically true if the mp3 player is empty)
# Setting type: Boolean
# Default value: false
BoomboxVanilla = false

[Mp3.DefaultSongChanges]

## Enable it to eliminate the default songs marked as false
# Setting type: Boolean
# Default value: false
Song1 = false

[Mp3.Song1]

## Desactivate it to eliminate 'Super Battle Train - Waterflame' song of the Mp3 player
# Setting type: Boolean
# Default value: true
Song1 = true

[Mp3.Song10]

## Desactivate it to eliminate 'Numb - Linkin Park' song of the Mp3 player
# Setting type: Boolean
# Default value: true
Song10 = true

[Mp3.Song2]

## Desactivate it to eliminate 'Payphone - Maroon 5' song of the Mp3 player
# Setting type: Boolean
# Default value: true
Song2 = true

[Mp3.Song3]

## Desactivate it to eliminate 'I'm good (Blue) - David Guetta, Bebe Rexha' song of the Mp3 player
# Setting type: Boolean
# Default value: true
Song3 = true

[Mp3.Song4]

## Desactivate it to eliminate 'Pandora's Music Box - Nox Arcana' song of the Mp3 player
# Setting type: Boolean
# Default value: true
Song4 = true

[Mp3.Song5]

## Desactivate it to eliminate 'Lovumba - Daddy Yankee' song of the Mp3 player
# Setting type: Boolean
# Default value: true
Song5 = true

[Mp3.Song6]

## Desactivate it to eliminate 'Splashing Around - The Green Orbs' song of the Mp3 player
# Setting type: Boolean
# Default value: true
Song6 = true

[Mp3.Song7]

## Desactivate it to eliminate 'Rosas - La Oreja de Van Gogh' song of the Mp3 player
# Setting type: Boolean
# Default value: true
Song7 = true

[Mp3.Song8]

## Desactivate it to eliminate 'Hikaru Nara - Goose House' song of the Mp3 player
# Setting type: Boolean
# Default value: true
Song8 = true

[Mp3.Song9]

## Desactivate it to eliminate 'Quevedo - Bizarrap Music Sessions #52' song of the Mp3 player
# Setting type: Boolean
# Default value: true
Song9 = true

[Mp3Volume]

## Change the volume of the Mp3 Player (0-100)
# Setting type: Double
# Default value: 75
Volume = 75

