## Settings file was created by plugin Insanity Remastered v1.1.1
## Plugin GUID: BudgetAirpods.InsanityRemastered

[General]

## Enables panic attacks.
# Setting type: Boolean
# Default value: true
Able to experience a panic attack. = true

## Enables the chance to die when having a panic attack.
# Setting type: Boolean
# Default value: false
Able to die during panic attack. = false

## Disables the panic attack audio and visual effects.
# Setting type: Boolean
# Default value: false
Disable panic attack effects. = false

## Allows for notifications telling you your sanity level is increasing.
# Setting type: Boolean
# Default value: true
Notifications for sanity levels. = true

## Disables all panic attack debuffs. (Slowness, cloudy vision)
# Setting type: Boolean
# Default value: false
Disable panic attack debuffs = false

[Hallucinations]

## Enables/Disables the random hallucination messages that can show when playing the game.
# Setting type: Boolean
# Default value: true
Allow the game to randomly disply cryptic messages. = true

## Enables or Disables the ability to have auditory hallucinations.
# Setting type: Boolean
# Default value: true
Able to experience auditory hallucinations. = true

## Enables or Disables the chance for fake items to spawn
# Setting type: Boolean
# Default value: true
Fake items can spawn. = true

## Enables or Disables the ability to experience the fake player or enemy model hallucination.
# Setting type: Boolean
# Default value: true
Able to experience the model hallucination = true

## Enables or disable the chance to experience the power shutoff event.
# Setting type: Boolean
# Default value: true
Able to experience Lights off. = true

## Disables the feature where walkies play skinwalker clips.
# Setting type: Boolean
# Default value: false
Disable walkies talkies skinwalker usage. = false

[Misc]

## Sets the sanity loss reduction amount when using a flashlight
# Setting type: Single
# Default value: 2
Reduction when using flashlights. = 2

## A multiplier for the hallucination RNG timer. 2 means the timer will be twice as longer, 0.5 will be twice as shorter.
# Setting type: Single
# Default value: 1
Multiplier for hallucination RNG check. = 1

## Only allow vanilla sounds to play when experiencing auditory hallucinations.
# Setting type: Boolean
# Default value: false
Only play vanilla sfx for sound hallucinations = false

## Allows IR to load the experimental version of Skinwalker.
# Setting type: Boolean
# Default value: false
Use experimental version of skinwalker = false

[Sanity Gain]

## Sets the sanity gain when inside the ship.
# Setting type: Single
# Default value: -0.55
Sanity gain while inside ship = -0.55

## Sets the sanity gain when near other players.
# Setting type: Single
# Default value: -0.26
Sanity gain while near others = -0.26

## Disables sanity regen when near a light source.
# Setting type: Boolean
# Default value: false
Disable light detection = false

[Sanity Loss]

## Sets sanity loss during the lights out event.
# Setting type: Single
# Default value: 0.21
Sanity loss during lights out. = 0.21

## Sets sanity loss when you are not near other players.
# Setting type: Single
# Default value: 0.16
Sanity loss when not near others. = 0.16

## Sets sanity loss during a panic attack.
# Setting type: Single
# Default value: 1.26
Sanity loss during a panic attack. = 1.26

## Sets sanity loss when it's night and you are outside.
# Setting type: Single
# Default value: 0.2
Sanity loss during nighttime outside. = 0.2

[Scaling]

## Sets the max amount of players to take into account when scaling sanity loss.
# Setting type: Int32
# Default value: 5
Max player count for sanity loss scaling. = 5

## Sets the insanity speed scaling value if playing solo.
# Setting type: Single
# Default value: 0.85
Solo insanity speed scaling = 0.85

[SFX]

## Sets the volume of the stinger and drone sounds. Max value is 1.
# Setting type: Single
# Default value: 0.25
Stinger/Drone volume = 0.25

