## Settings file was created by plugin Biodiversity v0.1.2
## Plugin GUID: com.github.biodiversitylc.Biodiversity

[Creatures]

# Setting type: Boolean
# Default value: true
DeveloperScarpHandler = true

# Setting type: Boolean
# Default value: true
WaxSoldierHandler = true

# Setting type: Boolean
# Default value: true
OgopogoHandler = true

# Setting type: Boolean
# Default value: true
CritterHandler = true

# Setting type: Boolean
# Default value: true
AloeHandler = true

[Development]

## Whether to log more debug information to the console.
# Setting type: Boolean
# Default value: false
VerboseLogging = false

[General]

## What language should Biodiversity use?
## Some Languages may also need FontPatcher(https://thunderstore.io/c/lethal-company/p/LeKAKiD/FontPatcher/)\n
# Setting type: String
# Default value: en
# Acceptable values: en
Language = en

