## Settings file was created by plugin Lategame Company Cruiser Upgrades v1.0.0
## Plugin GUID: com.github.WhiteSpike.LategameCompanyCruiserUpgrades

[Fluffy Seats]

## Tier upgrade which provides player damage mitigation when bumping too hard with the Company Cruiser Vehicle.
# Setting type: Boolean
# Default value: true
Enable Fluffy Seats Upgrade = true

# Setting type: Int32
# Default value: 100
Price of Fluffy Seats Upgrade = 100

## Value must be seperated by commas EX: '123,321,222'
# Setting type: String
# Default value: 100,150,200
Price of each additional upgrade = 100,150,200

## Amount of damage mitigation (%) increased when first purchasing the upgrade when riding the Company Cruiser Vehicle.
# Setting type: Int32
# Default value: 25
Initial Player Damage Mitigation Increase = 25

## Amount of damage mitigation (%) increased when purchasing further levels of the upgrade when riding the Company Cruiser Vehicle.
# Setting type: Int32
# Default value: 25
Incremental Player Damage Mitigation Increase = 25

## Items that when sold contribute to the purchase of the upgrade. Either the scan node's name or ItemProperties.itemName can be inserted here
# Setting type: String
# Default value: 
Contribution Items = 

[Ignition Coil]

## Tier upgrade which increases the chance of ignition to turn on the Company Cruiser Vehicle.
# Setting type: Boolean
# Default value: true
Enable Ignition Coil Upgrade = true

# Setting type: Int32
# Default value: 50
Price of Ignition Coil Upgrade = 50

## Value must be seperated by commas EX: '123,321,222'
# Setting type: String
# Default value: 50,100,100
Price of each additional upgrade = 50,100,100

## Amount of chance (%) increased when first purchasing the upgrade to ignite on the Company Cruiser Vehicle
# Setting type: Int32
# Default value: 25
Initial Ignition Chance Increase = 25

## Amount of chance (%) increased when purchasing further levels of the upgrade to ignite on the Company Cruiser Vehicle
# Setting type: Int32
# Default value: 25
Incremental Ignition Chance Increase = 25

## Items that when sold contribute to the purchase of the upgrade. Either the scan node's name or ItemProperties.itemName can be inserted here
# Setting type: String
# Default value: 
Contribution Items = 

[Improved Steering]

## Tier upgrade which increases the turning speed of the Company Cruiser vehicle
# Setting type: Boolean
# Default value: true
Enable Improved Steering Upgrade = true

# Setting type: Int32
# Default value: 100
Price of Improved Steering Upgrade = 100

## Value must be seperated by commas EX: '123,321,222'
# Setting type: String
# Default value: 100,150,250
Price of each additional upgrade = 100,150,250

## Amount of turning speed increased when first purchasing the upgrade to the Company Cruiser vehicle.
# Setting type: Single
# Default value: 1
Initial Turning Speed Increase = 1

## Amount of turning speed increased when purchasing further levels of the upgrade to the Company Cruiser vehicle.
# Setting type: Single
# Default value: 0.5
Incremental Turning Speed Increase = 0.5

## Items that when sold contribute to the purchase of the upgrade. Either the scan node's name or ItemProperties.itemName can be inserted here
# Setting type: String
# Default value: 
Contribution Items = 

[Override Names]

# Setting type: String
# Default value: Turbo Tank
Alternative name for Turbo Tank upgrade = Turbo Tank

# Setting type: String
# Default value: Ignition Coil
Alternative name for Ignition Coil upgrade = Ignition Coil

# Setting type: String
# Default value: Fluffy Seats
Alternative name for Fluffy Seats upgrade = Fluffy Seats

# Setting type: String
# Default value: Improved Steering
Alternative name for Improved Steering upgrade = Improved Steering

# Setting type: String
# Default value: Supercharged Pistons
Alternative name for Supercharged Pistons upgrade = Supercharged Pistons

# Setting type: String
# Default value: Rapid Motors
Alternative name for Rapid Motors upgrade = Rapid Motors

# Setting type: String
# Default value: Vehicle Plating
Alternative name for Vehicle Plating upgrade = Vehicle Plating

[Rapid Motors]

## Tier upgrade which increases the company cruiser's acceleration when driving.
# Setting type: Boolean
# Default value: true
Enable Rapid Motors Upgrade = true

# Setting type: Int32
# Default value: 150
Price of Rapid Motors Upgrade = 150

## Value must be seperated by commas EX: '123,321,222'
# Setting type: String
# Default value: 200,300,400
Price of each additional upgrade = 200,300,400

## Amount of acceleration increased when first purchasing the upgrade to the company cruiser vehicle.
# Setting type: Single
# Default value: 2
Initial Acceleration Increase = 2

## Amount of acceleration increased when purchasing further levels of the upgrade to the company cruiser vehicle.
# Setting type: Single
# Default value: 0.5
Incremental Acceleration Increase = 0.5

## Items that when sold contribute to the purchase of the upgrade. Either the scan node's name or ItemProperties.itemName can be inserted here
# Setting type: String
# Default value: 
Contribution Items = 

[Supercharged Pistons]

## Tier upgrade which increases the company cruiser's maximum speed when driving
# Setting type: Boolean
# Default value: true
Enable Supercharged Pistons Upgrade = true

# Setting type: Int32
# Default value: 250
Price of Supercharged Pistons Upgrade = 250

## Value must be seperated by commas EX: '123,321,222'
# Setting type: String
# Default value: 200,350
Price of each additional upgrade = 200,350

## Amount of maximum speed increased when first purchasing the upgrade to the Company Cruiser vehicle.
# Setting type: Single
# Default value: 40
Initial Engine Torque Increase = 40

## Amount of maximum speed increased when purchasing further levels of the upgrade to the Company Cruiser vehicle.
# Setting type: Single
# Default value: 20
Incremental Engine Torque Increase = 20

## Items that when sold contribute to the purchase of the upgrade. Either the scan node's name or ItemProperties.itemName can be inserted here
# Setting type: String
# Default value: 
Contribution Items = 

[Turbo Tank]

## Tier upgrade which increases the maximum capacity of Company Cruiser Vehicle's turbo
# Setting type: Boolean
# Default value: true
Enable Turbo Tank Upgrade = true

# Setting type: Int32
# Default value: 200
Price of Turbo Tank Upgrade = 200

## Value must be seperated by commas EX: '123,321,222'
# Setting type: String
# Default value: 100,200,300
Price of each additional upgrade = 100,200,300

## Amount of turbo capacity increased when first purchasing the upgrade on the Company Cruiser Vehicle
# Setting type: Int32
# Default value: 2
Initial Turbo Capacity Increase = 2

## Amount of turbo capacity increased when purchasing further levels of the upgrade on the Company Cruiser Vehicle
# Setting type: Int32
# Default value: 1
Incremental Turbo Capacity Increase = 1

## Items that when sold contribute to the purchase of the upgrade. Either the scan node's name or ItemProperties.itemName can be inserted here
# Setting type: String
# Default value: 
Contribution Items = 

[Vehicle Plating]

## Tier upgrade which increases the company cruiser's maximum health to sustain damage from outside sources.
# Setting type: Boolean
# Default value: true
Enable Vehicle Plating Upgrade = true

# Setting type: Int32
# Default value: 150
Price of Vehicle Plating Upgrade = 150

## Value must be seperated by commas EX: '123,321,222'
# Setting type: String
# Default value: 300,400,500,600
Price of each additional upgrade = 300,400,500,600

## Amount of health increased when first purchasing the upgrade to the company cruiser vehicle.
# Setting type: Int32
# Default value: 10
Initial Health Increase = 10

## Amount of health increased when purchasing further levels of the upgrade to the company cruiser vehicle.
# Setting type: Int32
# Default value: 5
Incremental Health Increase = 5

## Items that when sold contribute to the purchase of the upgrade. Either the scan node's name or ItemProperties.itemName can be inserted here
# Setting type: String
# Default value: 
Contribution Items = 

