## Settings file was created by plugin CullFactory v0.7.1
## Plugin GUID: com.fumiko.CullFactory

[Debug]

## INTENDED FOR BENCHMARKING ONLY. Leave this empty if you are playing normally.
## This forces the map seed to be whatever is entered here, so that benchmarkingnumbers can remain as consistent as possible between runs.
# Setting type: String
# Default value: 
Override map seed = 

[Depth culling]

## How many doors can be traversed before a room is culled.
# Setting type: Int32
# Default value: 4
Max branching depth = 4

Use depth culling = true

[Distance culling]

## The camera's far plane distance.
## Objects that are this far from the player will be culled.
## Vanilla value: 400
# Setting type: Single
# Default value: 40
Cull distance = 40

## The camera's far plane distance when **on the surface**.
## Objects that are this far from the player will be culled.
## Vanilla value: 400
# Setting type: Single
# Default value: 200
Surface cull distance = 200

[General]

## View culled objects in the console.
# Setting type: Boolean
# Default value: false
Show culling logs = false

## The culling type to use.
## Portal occlusion culling tests what rooms are visible to the camera based on the size of the passages between them.This is the recommended setting, as it should yield a significant performance gain on large maps without any visual change.
## Depth culling hides rooms based on the number of rooms separating them from the camera.
# Setting type: CullingType
# Default value: PortalOcclusionCulling
# Acceptable values: None, PortalOcclusionCulling, DepthCulling
Culling type = PortalOcclusionCulling

## Higher values make culling more responsive at the cost of performance.
## Update interval: 1 / value (seconds)
# Setting type: Single
# Default value: 5
Update frequency = 5

