## Settings file was created by plugin LethalSnapProject v1.5.7
## Plugin GUID: LethalSnapProject

[Debug]

## More log
# Setting type: Boolean
# Default value: false
debugMode = false

[Flash]

## The Field of view of the polaroid
# Setting type: Single
# Default value: 75
CameraFov = 75

## The wideness of the flash (in degree)
# Setting type: Single
# Default value: 160
FlashAngle = 160

## The intensity of the flash
# Setting type: Single
# Default value: 250
FlashIntensity = 250

## The range of the flash in meter
# Setting type: Single
# Default value: 50
FlashRange = 50

## The duration of the flash in seconds (How long the intensity goes back to 0)
# Setting type: Single
# Default value: 0.8
FlashDuration = 0.8

## At which percentage of the flash duration the picture is actually taken (the intensity when the picture is taken is : flashIntensity / (1-pictureTakenAtFlashPercentage) )
# Setting type: Single
# Default value: 0.5
PictureTakenAtFlashPercentage = 0.5

[Gameplay]

## Assign a monster name to a value monsterName1:scrapValue1,monsterName2:scrapValue2,... (Can be used to overide base monster values too)
# Setting type: String
# Default value: flowerman:180,crawler:90,hoarding bug:2,centipede:10,bunker spider:50,puffer:10,jester:250,blob:2,girl:180,spring:30,nutcracker:80,masked:60,mouthdog:40,earth leviathan:120,forestgiant:40,baboon hawk:10,red locust bees:2,docile locust bees:0,manticoil:0,peeper:2,locker:60,fiend:80
Monsters value = flowerman:180,crawler:90,hoarding bug:2,centipede:10,bunker spider:50,puffer:10,jester:250,blob:2,girl:180,spring:30,nutcracker:80,masked:60,mouthdog:40,earth leviathan:120,forestgiant:40,baboon hawk:10,red locust bees:2,docile locust bees:0,manticoil:0,peeper:2,locker:60,fiend:80

## Change default value for monster not listed above (MonsterValues)
# Setting type: Int32
# Default value: 10
Default monster value = 10

## Change this value to multiply the value of all pictures
# Setting type: Int32
# Default value: 1
Monster value multiplier = 1

## Does monster have special reaction when takken in picture
# Setting type: Boolean
# Default value: true
Monster React to flash = true

## Make the picture bigger
# Setting type: Single
# Default value: 1
PictureScaleMultiplier = 1

## The number of picture which can be taken before running out of battery
# Setting type: Int32
# Default value: 5
PolaroidMaxPictureFromFullBattery = 5

## Chance of looting a polaroid (1 very rare, 100 very common)
# Setting type: Int32
# Default value: 5
PolaroidLootRarity = 5

## Does the polaroid appear in the store ?
# Setting type: Boolean
# Default value: true
PolaroidCanBeBuy = true

## The cost of the polaroid in the store
# Setting type: Int32
# Default value: 150
PolaroidCost = 150

## Does the picture can be pin directly to another players ? 
# Setting type: Boolean
# Default value: true
canPinPictureToPlayers = true

[Polaroid]

## The resolution of the pic 128,256,512,1024... (careful can heavily impact performance when taking picture)
# Setting type: Int32
# Default value: 512
PictureResolution = 512

## The resolution of the polaroid screen 128,256,512,1024... (careful can heavily impact performance when the polaroid is held)
# Setting type: Int32
# Default value: 64
ScreenResolution = 64

## Does the polaroid preview the picture in its screen ? (disable it to improve performance)
# Setting type: Boolean
# Default value: true
PolaroidCanUpdateScreen = true

## The delay betway polaroid screen update in seconds (increase this if you have performance issue)
# Setting type: Single
# Default value: 0
PolaroidScreenUpdateRate = 0

## How far the polaroid camera can render (reduce this if you have performance issue)
# Setting type: Single
# Default value: 100
PolaroidCameraFarClipping = 100

## The required cooldown between 2 pictures
# Setting type: Single
# Default value: 1
PolaroidUseCooldown = 1

