## Settings file was created by plugin LCOffice v1.2.4
## Plugin GUID: Piggy.LCOffice

[General]

## How rare it is for the office to be chosen. Higher values increases the chance of spawning the office.
# Setting type: Int32
# Default value: 40
# Acceptable value range: From 0 to 300
OfficeRarity = 50

## If enabled, the office will be effectively guaranteed to spawn. Only recommended for debugging/sightseeing purposes.
# Setting type: Boolean
# Default value: false
OfficeGuaranteed = false

## The moon(s) that the office can spawn on, in the form of a comma separated list of selectable level names (e.g. "TitanLevel,RendLevel,DineLevel")
## NOTE: These must be the internal data names of the levels (all vanilla moons are "MoonnameLevel", for modded moon support you will have to find their name if it doesn't follow the convention).
## The following strings: "all", "vanilla", "modded", "paid", "free", "none" are dynamic presets which add the dungeon to that specified group (string must only contain one of these, or a manual moon name list).
## Default dungeon generation size is balanced around the dungeon scale multiplier of Titan (2.35), moons with significantly different dungeon size multipliers (see Lethal Company wiki for values) may result in dungeons that are extremely small/large.
# Setting type: String
# Default value: free
OfficeMoonsList = all

## If not -1, overrides the office length to whatever you'd like. Adjusts how long/large the dungeon generates.
## Be *EXTREMELY* careful not to set this too high (anything too big on a moon with a high dungeon size multipier can cause catastrophic problems, like crashing your computer or worse)
## For reference, the default value for the current version [1.1.2] is 4. If it's too big, make this lower e.g. 6, if it's too small use something like 10 (or higher, but don't go too crazy with it).
# Setting type: Int32
# Default value: -1
OfficeLengthOverride = -1

## When enabled, enables custom scrap spawning.
# Setting type: Boolean
# Default value: true
OfficeCustomScrap = true

## Set the volume of music played in the elevator. (0 - 100)
# Setting type: Single
# Default value: 100
ElevatorMusicVolume = 100

## Change the pitch of the elevator music. (bc i like it)
# Setting type: Boolean
# Default value: false
ElevatorMusicPitchDown = true

## Turn off custom camera shake.
# Setting type: Boolean
# Default value: false
DisableCameraShake = false

## Increase brightness when encountering Halt if Diversity mode is detected. Disabling it will make the game VERY difficult when encountering Halt!
# Setting type: Boolean
# Default value: true
DiversityHaltBrighness = true

## (EXPERIMENTAL) When set to true, if a apparatus is removed from a facility, the elevator will not operate until the apparatus is inserted into the elevator's emergency power unit.
# Setting type: Boolean
# Default value: false
EmergencyPowerSystem = false

## Disable cameras inside the office.
# Setting type: Boolean
# Default value: false
Disable Camera = false

## Specifies the camera speed inside the office. If it is over 100, it changes to real-time capture. (FPS)
# Setting type: Int32
# Default value: 20
Camera Frame Speed = 20

[Spawn]

## Sets the shrimp spawn weight for every moons.
# Setting type: Int32
# Default value: 5
ShrimpSpawnWeight = 10

## Sets the halt spawn propability for office interior. (0 - 100)
# Setting type: Int32
# Default value: 12
HaltSpawnPropability = 12

[Translation]

## Set language to Korean.
# Setting type: Boolean
# Default value: false
Enable Korean = false

