## Settings file was created by plugin Lethal Hands v22.1.1
## Plugin GUID: SlapitNow.LethalHands

[Balancing]

## Range of the punch (for reference, shovels are 1.5 and knives are 0.75)
# Setting type: Single
# Default value: 1.2
PunchRange = 1.2

## Cooldown (in seconds) between punches
# Setting type: Single
# Default value: 1
PunchCooldown = 0.5

## Damage dealt by a punch
# Setting type: Single
# Default value: 0.5
PunchDamage = 0.85

## Whether punches should hit snarefleas/tulip snakes that are attached
# Setting type: Boolean
# Default value: true
PunchOffClingers = true

[Item Interaction]

## Whether to drop all items, only the current item, or no items upon squaring up
# Setting type: ItemMode
# Default value: All
# Acceptable values: All, Current, None
ItemDropMode = All

## Whether to allow items to be held while squared up
# Setting type: Boolean
# Default value: false
AllowItems = false

[Stamina Balancing]

## Max stamina drained (%) per punch
# Setting type: Int32
# Default value: 0
StaminaDrain = 1

## Max stamina required (%) to punch
# Setting type: Int32
# Default value: 0
StaminaRequirement = 0

## Whether punching should halt stamina regeneration for a brief period
# Setting type: Boolean
# Default value: false
PunchingHaltsStaminaRegen = false